.top-header {
  background: $fa-grey-600;
  h3 {
    font-family: $font-family-primary;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $fa-grey-900;
  }
  span {
    font-family: $font-family-primary;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  .notif-bell {
    width: 40px;
    padding: 2px;
    height: 40px;
    background: $fa-white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 7px;
  }

  .hamburger-icon {
    cursor: pointer;
  }

  .user-detail {
    h3 {
      line-height: 15px;
      span {
        line-height: 0px;
        color: $fa-success;
        font-weight: 400;
        font-size: 12px;
      }
    }
  }
}
