.register {
  background-color: $fa-white;
  // padding-bottom: 40px;

  h1 {
    font-family: $font-family-secondary;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 44px;
  }

  h6 {
    font-family: $font-family-primary;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    span,
    a {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      text-decoration-line: underline;
      color: $fa-black;
    }
    a:hover {
      text-decoration: none;
    }
  }

  .container {
    margin-right: 10%;
    margin-left: 10%;
    .left-hero {
      margin-top: 100px;
      p {
        font-weight: 600;
        font-size: 17px;
        font-family: $font-family-primary;
        color: $fa-secondary-200;
        text-align: center;
        margin-top: 18px;
      }
    }
    .right-hero {
      width: 380px;
      .required-text {
        color: $fa-error;
      }
      .register-form {
        margin-top: 20px;
        a {
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;
          text-decoration-line: underline;
          color: $fa-black;
        }
        a:hover {
          text-decoration: none;
        }
        .email-input,
        .firstName-input,
        .lastName-input {
          height: 50px;
          border: 1px solid $fa-grey-400;
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.03);
          border-radius: 5px;
          margin: 0px 0px 20px 0px;
          color: $fa-grey-200;
          font-family: $font-family-primary;
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
        }
        .password-input {
          height: 50px;
          border: 1px solid $fa-grey-400;
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.03);
          border-radius: 5px;
          margin-bottom: 30px;
        }
        #password {
          color: $fa-grey-200;
          font-family: $font-family-primary;
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
        }

        .error-style {
          border-color: $fa-error;
        }

        .check-input {
          h5 {
            font-weight: 700;
            font-size: 14px;
            text-decoration-line: underline;
            color: $fa-secondary-200;
          }
          .ant-checkbox-wrapper {
            display: flex;
            align-items: center;

            label {
              font-family: $font-family-primary;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              padding-top: 10px;
              padding-left: 0px;
            }
            .ant-checkbox-checked .ant-checkbox-inner {
              background-color: $fa-primary-200;
              border-color: $fa-primary-200;
              width: 24px;
              height: 24px;
              font-size: 24px;
            }
            .ant-checkbox-inner {
              width: 24px;
              height: 24px;
              border-color: $fa-primary-200;
            }

            .ant-checkbox-checked .ant-checkbox-inner::after {
              position: absolute;
              display: table;
              border: 1px solid $fa-white;
              border-top: 0;
              border-left: 0;
              transform: rotate(45deg) scale(1.5) translate(-30%, -60%);
              opacity: 1;
              transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
              content: ' ';
            }
          }
        }

        .btn-register {
          margin-top: 30px;
          width: 100%;
          background-color: $fa-primary-200;
          border-radius: 5px;
          height: 50px;
          text-align: center;
          font-size: 14px;
          font-family: $font-family-primary;
          color: $fa-white;
        }
        .btn-register:hover {
          border-color: $fa-primary-200;
        }
        .btn-register:active {
          border-color: $fa-primary-200;
        }
        .btn-register:focus {
          border-color: $fa-primary-200;
        }
      }
      .other-socials-register {
        margin-top: 20px;
        hr {
          margin: auto;
        }
        .btn-social {
          margin-top: 20px;
          background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
            #bcbcbc;
          border: 2px solid rgba(0, 0, 0, 0.3);
          border-radius: 5px;
          height: 50px;
          align-items: center;
          width: 100%;
        }
        .btn-social:hover {
          color: $fa-primary-200;
        }
        .btn-social:active {
          color: $fa-primary-200;
        }
        .btn-social:focus {
          color: $fa-primary-200;
        }
      }
    }
  }

  .register-mobile-cta {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 93.28%),
      url('/assets/images/auth/login-mobile-cta.jpg');
    height: 375px;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: $fa-white;
    margin-top: 20px;
    h1 {
      font-size: 24px;
      text-align: center;
      color: $fa-white;
      line-height: 26px;
      margin: auto;
      span {
        font-family: $font-family-primary;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 13px;
      }
    }
    .bottom-row {
      margin: 0px 25px 40px 25px;
      a {
        color: $fa-white;
        margin-bottom: auto;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        text-decoration: underline;
      }
    }
  }
}
