.company-layout {
    padding-bottom: 0 !important;

    .beadcrumb {
        @include smMaxBreakPoint {
            display: none
        }
    }

    .company {
        .back-cta {
            margin-top: 2rem;
            width: fit-content;

            @include smMaxBreakPoint {
                margin-top: 0
            }
        }

        .company-detail-container {
            padding: 2rem 1rem 0rem;

            .company-intro {
                h6 {
                    margin-top: 1.5rem
                }

                div {
                    width: fit-content;
                    margin: .5rem auto 0;
                }

                @include smMaxBreakPoint {
                    display: none;
                }

            }

            .mobile-company-intro {
                display: none;

                @include smMaxBreakPoint {
                    display: flex;
                }
            }

            .other-detail {
                .section-one {
                    border-bottom: 1px solid $fa-grey-500;
                }

                p {
                    font-size: 12px;
                    margin-bottom: 0.4rem
                }

                .custom-information {
                    padding-bottom: 1rem;

                    &>div {
                        .show-custom-cta {
                            span {
                                display: none
                            }
                        }

                        @include smMaxBreakPoint {
                            .custom-detail-info {
                                max-height: 0;
                                transition: max-height 0.15s ease-out;
                                overflow: hidden;
                            }

                            .custom-detail-info__visible {
                                border-bottom: 1px solid $fa-grey-500;
                                max-height: 500px;
                                transition: max-height 0.5s ease-in;
                            }

                            .show-custom-cta {
                                span {
                                    display: block
                                }
                            }
                        }
                    }
                }
            }

            @include smMaxBreakPoint {
                padding-top: 1rem
            }
        }

        .investment-value-container {
            min-height: 14rem;
            padding: 1rem 1rem 3rem;

            .total-invested {
                font-size: 12px;
                margin-bottom: 0.4rem;
            }

            h6 {
                font-size: 16px;
                margin-top: -.5rem;
            }

            @include xlMaxBreakPoint {
                min-height: fit-content
            }

            @include smMaxBreakPoint {
                padding-bottom: 1rem;
            }
        }
    }

    .fa-tabs {

        p,
        ul {
            font-size: 12px;
            color: $fa-grey-300;
        }

        .about {
            border-radius: 0 0 8px 8px;
            min-height: 24.9rem;

            @include smMaxBreakPoint {
                height: fit-content
            }

            .about-intro {
                width: 85%;
                padding: 1rem 1.5rem 0;

                @include lgMaxBreakPoint {
                    width: 100%
                }
            }

            .other-detail {
                padding-bottom: 3.5rem;

                .other-detail-sub {
                    background-color: $fa-grey-500;
                    margin: 1.5rem 1.5rem 0;
                    padding: 1rem 1.5rem;

                    &>div {
                        width: 80%;

                        @include lgMaxBreakPoint {
                            width: 100%
                        }
                    }

                    @include mdMaxBreakPoint {
                        margin: 1.5rem 0 0;
                    }
                }


                h6 {
                    font-size: 17px;
                    color: $fa-grey-200
                }
            }
        }

        .founders-container {
            min-height: 24.9rem;
            border-radius: 0 0 8px 8px;
            padding: 2rem 4rem;
            flex-wrap: wrap;

            div {
                margin-right: 3rem;
                text-align: center;
                margin: 1rem 3rem 0 0;

                @include smMaxBreakPoint {
                    margin: 1rem auto
                }

                p {
                    color: $fa-grey-200;
                }

                .founder-name {
                    font-size: 16px;
                    font-weight: 700;
                }
            }

            @include smMaxBreakPoint {
                height: fit-content;
                display: block;
            }
        }
    }

    .tab-content {
        min-height: 36.5rem;

        @include mdMaxBreakPoint {
            min-height: fit-content
        }
    }

    .fund-details-container {

        .fund-table {
            @include mdMaxBreakPoint {
                display: none
            }
        }

        .fund-accordion-container {
            display: none;

            .ant-collapse-content>.ant-collapse-content-box {
                padding-right: 0;
            }

            @include mdMaxBreakPoint {
                display: block;
            }
        }

        p {
            color: $fa-black;
            font-size: 14px;
        }

        .cert-cta {
            color: $fa-secondary-300  !important;
        }
    }

    .ant-collapse-header-text {
        width: 100%
    }

    .ant-table-tbody>tr>td,
    .ant-table-thead>tr>th {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

}