.selected-investment {
  .btn-invest {
    min-width: 170px;
    max-width: 170px;
    background-color: $fa-primary-200;
    border-radius: 5px;
    height: 50px;
    text-align: center;
    font-size: 14px;
    font-family: $font-family-primary;
    color: $fa-white;
  }
  .btn-invest:hover {
    border-color: $fa-primary-200;
  }
  .btn-invest:active {
    border-color: $fa-primary-200;
  }
  .btn-invest:focus {
    border-color: $fa-primary-200;
  }
  .image-cta {
    height: 270px;
    width: 100%;
    background: $fa-grey-500;
    border-radius: 10px;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    .deal-name {
      height: 127px;
      width: 100%;
      padding-left: 20px;
      margin-top: auto;
      background: $fa-grey-500;
      mix-blend-mode: normal;
      opacity: 0.85;
      backdrop-filter: blur(14px);
      border-radius: 0px 0px 10px 10px;
      display: flex;
      align-items: center;
    }
  }
}
