.investor-wallet {
    .wallet-cards-container {
        padding-right: 1.5rem;

        @include lgMaxBreakPoint {
            padding-right: 0
        }

    }

    .wallet-header-cards {
        background: $fa-white;
        box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.05);
        border-radius: 15px;
        padding: 19px 25px 80px;

        h4 {
            line-height: 22px;
        }

        .icon-container {
            width: 50px;
            height: 50px;
            margin-right: 1rem;
        }

        @include smMaxBreakPoint {
            padding: 16px 12px;
            border-radius: 10px;
            align-items: center;

            h4 {
                font-size: 20px !important;
                line-height: 18px;
            }

            .icon-container {
                width: 55px;
                height: 55px;
                margin-right: 12px;
            }

        }
    }

    .filter-params-container {
        display: flex;
        align-content: center;
        align-items: center;
        height: 100%;

        @include xlMaxBreakPoint {
            justify-content: flex-end;
        }

        .filter-params {
            flex: 8;
            margin-left: 1rem;

            @include xlMaxBreakPoint {
                display: none !important
            }
        }
    }

    .desktop-filter-cta {
        @include xlMaxBreakPoint {
            display: none;
        }
    }

    .mobile-filter-cta {
        display: none;

        @include xlMaxBreakPoint {
            display: flex;
        }
    }

    .wallet-search {
        width: 19rem;

        @include smMaxBreakPoint {
            width: 100%
        }
    }

    .date-filter-cta {

        border-radius: 8px;
        background-color: $fa-white;
        font-size: 14px;
        padding: 0 .8rem;

        p {
            color: $fa-grey-200;
        }

        .drop-down {
            color: $fa-grey-200;
            font-size: 12px;
        }
    }

    .dropdown-container {
        border-radius: 10px;
    }
}

.ant-dropdown-menu {
    border-radius: 6px;
    padding-bottom: .5rem
}

.filter-date-picker {
    border: none;
    border-radius: 10px;
    height: 3.3rem !important;
    width: 14rem !important;
    background-color: $fa-white;

    .ant-picker-input>input::placeholder {
        color: $fa-grey-200;
    }
}



.wallet-payment-modal {
    .ant-modal-content {
        background-color: $fa-grey-500;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 0 1rem;

        @include smMaxBreakPoint {
            padding: 0
        }

        .fund-wallet-cta {
            width: 80%;
            margin: 0 auto;

            @include smMaxBreakPoint {
                width: 100%
            }
        }
    }

    div {
        p {
            margin-bottom: 0
        }
    }

}


.wallet-table {
    @include mdMaxBreakPoint {
        display: none
    }
}

.wallet-accordion-container {
    display: none;

    @include mdMaxBreakPoint {
        display: block;
    }

    .wallet-accordion-panel {
        border-radius: 12px !important;
        background-color: $fa-white;
        margin-bottom: 5px;
    }

    .ant-collapse-item-active {
        background: transparent;
        border: 1px solid $fa-grey-500;
    }

    .ant-collapse-borderless,
    .ant-collapse {
        background-color: transparent
    }

    .ant-collapse-header-text {
        width: 100%
    }

    .wallet-detail {
        line-height: 10px;
        font-weight: 600;
        color: #393636;
    }
}

.mobile-filter-accordion {
    .wallet-filter-panel {
        background-color: $fa-white;
        margin-bottom: 5px;
        margin-top: 1.5rem;
        border-radius: 8px !important;
        border-bottom: 1px solid $fa-grey-400  !important;

        p {
            margin-bottom: -.3rem
        }

        div {
            flex-wrap: wrap;

            div {
                margin: 0 .4rem 1rem 0
            }
        }
    }

    .ant-collapse-borderless,
    .ant-collapse {
        background-color: $fa-white;
    }

    .ant-collapse-item-active {
        background: #f4f4f4;
    }
}