//FONT
$font-family-primary: "Museo Sans";
$font-family-secondary: "manier";



//COLORS

//Primary colors
$fa-primary-100: #FFA800; //Gold
$fa-primary-200: #3CAC70; //Green



//Secondary Colors
$fa-secondary-100: #BA4141; //Red
$fa-secondary-200: #282727; //Black
$fa-secondary-300: #3E8FFD; // blue


//Status Colors
$fa-info: #2F80ED;
$fa-success: #3CAC70;
$fa-warning: #E2B93B;
$fa-error: #EB5757;
$fa-disabled: #F3F3F3;



//Shade
$fa-black: #000000;
$fa-white: #FFFFFF;


//Gray
$fa-gray-100: #333333;
$fa-gray-200: #4F4F4F;
$fa-gray-300: #828282;
$fa-gray-400: #BDBDBD;
$fa-gray-500: #E0E0E0;



//BREAKPOINTS
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1440px;