/* Museo Font Face */

@font-face {
  font-family: 'Museo';
  src: url('/assets/fonts/museo/Museo100-Italic.otf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Museo';
  src: url('/assets/fonts/museo/Museo100-Regular.otf');
  font-weight: 100;
}

@font-face {
  font-family: 'Museo';
  src: url('/assets/fonts/museo/Museo300-Regular.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'Museo';
  src: url('/assets/fonts/museo/Museo300-Italic.otf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Museo';
  src: url('/assets/fonts/museo/Museo500-Regular.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Museo';
  src: url('/assets/fonts/museo/Museo500-Italic.otf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Museo';
  src: url('/assets/fonts/museo/Museo700-Regular.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'Museo';
  src: url('/assets/fonts/museo/Museo700-Italic.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'Museo';
  src: url('/assets/fonts/museo/Museo900-Regular.otf');
  font-weight: 900;
}

@font-face {
  font-family: 'Museo';
  src: url('/assets/fonts/museo/Museo900-Italic.otf');
  font-weight: 900;
}

/* Museo Sans Font Face */

@font-face {
  font-family: 'Museo Sans';
  src: url('/assets/fonts/museo-sans/MuseoSans-100.otf');
  font-weight: 100;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('/assets/fonts/museo-sans/MuseoSans-100Italic.otf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('/assets/fonts/museo-sans/MuseoSans-300.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('/assets/fonts/museo-sans/MuseoSans-300Italic.otf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('/assets/fonts/museo-sans/MuseoSans-700Italic.otf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('/assets/fonts/museo-sans/MuseoSans-900Italic.otf');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('/assets/fonts/museo-sans/MuseoSans_500.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('/assets/fonts/museo-sans/MuseoSans_500_Italic.otf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('/assets/fonts/museo-sans/MuseoSans_700.otf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('/assets/fonts/museo-sans/MuseoSans_900.otf');
  font-weight: 900;
}

/* Manier Font Face */

@font-face {
  font-family: 'Manier';
  src: url('/assets/fonts/manier/Manier-Light.otf');
  font-weight: 100;
}

@font-face {
  font-family: 'Manier';
  src: url('/assets/fonts/manier/Manier-Regular.otf');
  font-weight: 200;
}

@font-face {
  font-family: 'Manier';
  src: url('/assets/fonts/manier/Manier-Medium.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'Manier';
  src: url('/assets/fonts/manier/Manier-Bold.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Manier';
  src: url('/assets/fonts/manier/Manier-Black.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'Manier';
  src: url('/assets/fonts/manier/Manier-Heavy.otf');
  font-weight: 900;
}
