@media (max-width: 990px) {
  .auth-modal {
    .content {
      .modal-btn {
        width: 100%;
      }
    }
  }

  .login {
    .container {
      .right-hero {
        .login-form {
          .btn-login {
            margin-top: 4px;
          }
        }
        .other-socials-login {
          margin-top: 20px;
          .btn-social {
            margin-top: 10px;
          }
        }
      }
    }
  }

  .register {
    .container {
      .right-hero {
        .login-form {
          .btn-login {
            margin-top: 4px;
          }
        }
        .other-socials-login {
          margin-top: 20px;
          .btn-social {
            margin-top: 10px;
          }
        }
      }
    }
  }

  .forgot-password {
    background-color: $fa-grey-600;
    .container {
      margin-right: 10%;
      margin-left: 10%;
      .left {
        height: 100%;
        .left-hero {
          .forgot-password-box {
            margin-top: 50px;
          }
          .forgot-password-form {
            .btn-forgot-password {
              margin-top: 4px;
            }
          }
          .other-socials-login {
            margin-top: 20px;
            .btn-social {
              margin-top: 10px;
            }
          }
        }
      }
      .right-hero {
        visibility: hidden;
        display: none;
      }
    }
  }

  .new-password {
    background-color: $fa-grey-600;
    .container {
      margin-right: 10%;
      margin-left: 10%;
      .left {
        height: 100%;
        .left-hero {
          .forgot-password-box {
            margin-top: 50px;
          }
          .forgot-password-form {
            .btn-forgot-password {
              margin-top: 4px;
            }
          }
          .other-socials-login {
            margin-top: 20px;
            .btn-social {
              margin-top: 10px;
            }
          }
        }
      }
      .right-hero {
        visibility: hidden;
        display: none;
      }
    }
  }

  .investors-dashboard {
    .layout {
      .mobile-header {
        visibility: visible !important;
        display: block !important;
        background-color: #fff;
        z-index: 99 !important;
      }
    }
    .menu {
      visibility: hidden;
      display: none;
    }
    .site-layout {
      margin-left: 0px !important;
      .site-content {
        .site-layout-background {
          padding: 25px 25px !important;
          min-height: 360;

          .filter-fields {
            .search {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .ant-layout-header {
    height: 95px;
    width: 100%;
    padding: 25px;
    line-height: 0px;
    background: $fa-grey-600;
  }

  .selected-investment {
    h1 {
      margin-left: 10px;
      font-size: 26px !important;
    }
    .btn-invest {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      margin-right: 20px;
    }
  }

  .fund-manager-wrapper {
    .fund-manager-site-layout {
      min-height: 100vh;
      background-color: #f0f0f0;
      .fund-manager-layout-background {
        padding: 20px 20px;
      }
    }
  }

  .fund-manager-dashboard {
    .metrics {
      .item {
        flex: 40%;
      }
    }
  }
}

// Iphone and Below
@media (max-width: 450px) {
  .top-header {
    h3 {
      font-style: normal;
      font-weight: 700;
      font-size: 11px;
      line-height: 10px;
    }
    span {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
    }

    .notif-bell {
      height: 40px;
      width: 40px;
    }
  }

  .subscription {
    .right-aside {
      border-radius: 10px;
      margin-bottom: 20px;
    }
    .last-aside {
      border-radius: 10px;
    }
    .sub-container {
      border-radius: 10px;
      .item {
        flex: 100%;
        margin-bottom: 20px;
      }
    }
    .form-container {
      .buttons {
        justify-content: start;
        flex: 100%;
        .btn-cancel,
        .btn-confirm {
          width: 100%;
        }
      }
    }
  }
}

// Desktop Screens
@media (min-width: 1000px) {
  .login {
    .container {
      .row-style {
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
